.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 85px;
}
.wrapper {
    display: flex;
    align-items: center;
}
.logo {
    padding-right: 20px;
    svg {
        width: 65px;
        height: 65px;
    }
}
.title {
    text-transform: uppercase;
    font-weight: 700;
font-size: 25px;
line-height: 30px;
text-transform: uppercase;

color: #4793FF;

}
.change_theme {
    padding-right: 20px;
}

.searchForm {
   border-radius: 20px;
   padding: 10px;
   border: 2px solid black;
}
.searchForm::placeholder {
    color:#4793FF;
    font-weight: 600;
}
.submitInput {
    border-radius: 20px;
    padding: 10px;
    color:#4793FF;
    font-weight: 600;
    margin-left: 20px;
}